hangman/Connected Services/ECCI_Hangman/ECCI_Hangman.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:ECCI_Hangman" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="ECCI_Hangman" targetNamespace="urn:ECCI_Hangman" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:ECCI_Hangman">
      <xsd:complexType name="ArrayOfStrings">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="startGameIn">
    <wsdl:part name="name" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="startGameOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="playLetterIn">
    <wsdl:part name="name" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="playLetterOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="testFunctionIn" />
  <wsdl:message name="testFunctionOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listHighscoresIn" />
  <wsdl:message name="listHighscoresOut">
    <wsdl:part name="return" type="tns:ArrayOfStrings" />
  </wsdl:message>
  <wsdl:portType name="ECCI_HangmanPort">
    <wsdl:operation name="testFunction">
      <documentation>Hangman::testFunction() Devuelve el tiempo del servidor.</documentation>
      <wsdl:input message="tns:testFunctionIn" />
      <wsdl:output message="tns:testFunctionOut" />
    </wsdl:operation>
    <wsdl:operation name="listHighscores">
      <documentation>Hangman::listHighscores() Devuelve el tiempo del servidor.</documentation>
      <wsdl:input message="tns:listHighscoresIn" />
      <wsdl:output message="tns:listHighscoresOut" />
    </wsdl:operation>
    <wsdl:operation name="startGame">
      <documentation>Hangman::testFunction() Devuelve el tiempo del servidor.</documentation>
      <wsdl:input message="tns:startGameIn" />
      <wsdl:output message="tns:startGameOut" />
    </wsdl:operation>
    <wsdl:operation name="playLetter">
      <documentation>Hangman::testFunction() Devuelve el tiempo del servidor.</documentation>
      <wsdl:input message="tns:startGameIn" />
      <wsdl:output message="tns:startGameOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ECCI_HangmanBinding" type="tns:ECCI_HangmanPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="testFunction">
      <soap:operation soapAction="urn:ECCI_Hangman#Hangman#testFunction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Hangman" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_Hangman" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listHighscores">
      <soap:operation soapAction="urn:ECCI_Hangman#Hangman#listHighscores" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Hangman" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_Hangman" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startGame">
      <soap:operation soapAction="urn:ECCI_Hangman#Hangman#startGame" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Hangman" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_Hangman" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="playLetter">
      <soap:operation soapAction="urn:ECCI_Hangman#Hangman#playLetter" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Hangman" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_Hangman" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ECCI_HangmanService">
    <wsdl:port name="ECCI_HangmanPort" binding="tns:ECCI_HangmanBinding">
      <soap:address location="http://titanic.ecci.ucr.ac.cr/~eb54621/HangmanService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>